services:
  easyengine:
    image: dinhngocdung/easyengine:latest
    container_name: easyengine
    privileged: true
    stdin_open: true
    tty: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:z
      - /var/lib/docker/volumes:/var/lib/docker/volumes
      - /opt/easyengine:/opt/easyengine
      - /etc/localtime:/etc/localtime:ro
      - /opt/easyengine/.ssh-key:/root/.ssh
      - /opt/easyengine/config/rclone:/root/.config/rclone
      - /etc/hosts:/etc/hosts
    network_mode: host
